In [1]:
# Import our dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.model_selection import StratifiedKFold

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
columns = ["hotel","is_canceled","lead_time","arrival_date_year","arrival_date_month",
           "arrival_date_week_number","arrival_date_day_of_month","stays_in_weekend_nights","stays_in_week_nights",
           "adults","children","babies","meal","country","market_segment","distribution_channel","is_repeated_guest",
           "previous_cancellations","previous_bookings_not_canceled","reserved_room_type","assigned_room_type","booking_changes",
           "deposit_type","agent","company","days_in_waiting_list","customer_type","adr","required_car_parking_spaces",
           "total_of_special_requests","reservation_status","reservation_status_date"]

target = ["is_canceled"]

In [3]:
hotel_df=pd.read_csv("../Resources/hotel_reservations.csv")
hotel_df = hotel_df.loc[:, columns].copy()
# Drop the null columns where all values are null
hotel_df = hotel_df.dropna(axis='columns', how='all')

# Drop the null rows
hotel_df = hotel_df.dropna()

In [4]:
X = pd.get_dummies(hotel_df, columns=["hotel","country","market_segment","distribution_channel",
           "previous_cancellations","reservation_status","lead_time","arrival_date_year","arrival_date_month",
           "arrival_date_week_number","arrival_date_day_of_month","stays_in_weekend_nights","stays_in_week_nights",
           "adults","children","babies","meal", "assigned_room_type","agent", "total_of_special_requests","reservation_status_date","company",
                                        "days_in_waiting_list","customer_type","required_car_parking_spaces","reserved_room_type",
                                                                 "is_repeated_guest","booking_changes",
           "deposit_type","adr","previous_bookings_not_canceled"]).drop(["is_canceled"], axis=1)
# X = pd.get_dummies(hotel_df, columns=['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status', 'reservation_status_date']).drop(['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests'], axis=1)

y = hotel_df["is_canceled"]

X.head()

,hotel_City Hotel,hotel_Resort Hotel,country_AUS,country_AUT,country_BEL,country_BGR,country_CHE,country_CHN,country_CZE,country_DEU,...,adr_195.0,adr_212.6,adr_224.0,adr_246.0,previous_bookings_not_canceled_0,previous_bookings_not_canceled_1,previous_bookings_not_canceled_2,previous_bookings_not_canceled_4,previous_bookings_not_canceled_5,previous_bookings_not_canceled_7
2392,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2697,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2867,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2877,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2878,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [5]:
# describe () function returns the statistical summary of the DataFrame
X.describe()

,hotel_City Hotel,hotel_Resort Hotel,country_AUS,country_AUT,country_BEL,country_BGR,country_CHE,country_CHN,country_CZE,country_DEU,...,adr_195.0,adr_212.6,adr_224.0,adr_246.0,previous_bookings_not_canceled_0,previous_bookings_not_canceled_1,previous_bookings_not_canceled_2,previous_bookings_not_canceled_4,previous_bookings_not_canceled_5,previous_bookings_not_canceled_7
count,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,...,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000
mean,0.216590,0.783410,0.004608,0.138249,0.013825,0.004608,0.004608,0.009217,0.018433,0.078341,...,0.004608,0.004608,0.004608,0.004608,0.935484,0.027650,0.023041,0.004608,0.004608,0.004608
std,0.412873,0.412873,0.067884,0.345959,0.117034,0.067884,0.067884,0.095781,0.134823,0.269329,...,0.067884,0.067884,0.067884,0.067884,0.246238,0.164346,0.150382,0.067884,0.067884,0.067884
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# Check the balance of our target values
y.value_counts()

0    200
1     17
Name: is_canceled, dtype: int64

In [44]:
# splitting the data into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X,
    y, random_state=1, test_size=0.3)

In [45]:
# X_train.shape

In [46]:
# Instantiate the model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [47]:
# Applying Recursive Feature Elimination 
import statsmodels.api as sm
from sklearn.feature_selection import RFE
rfe = RFE(classifier, 20)
rfe = rfe.fit(X, y.values.ravel())
print(rfe.support_)
print(rfe.ranking_)

C:\Users\krishna\anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass n_features_to_select=20 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

[False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False  True False False  True  True  True False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True  True False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False False False False False False  True  True False False False
 False False False False False False False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False False False False False False  True False False
 False False False  True False False False False  True False False False
 False False False False  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False  True False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False]
[225 241 399  33 118 289 393 291 203  57 107  24  60 385  55 356 345   1
 361 259 232  23 131 296 424   3  40 103 392   1 359 358   1   1   1  18
   1 135 191  31 114 188  29 184 407 178 141 219 181 275 253 115 288 175
 391 101 243  45 262 145 250  30  97 169 160 128 139  96  84  21 266 150
   5 436  47 353 412 376 421 350 416 425 364 152 303 136 155  70   6  81
 124 122 158 172  71 102 281 217  48 130 174 125  25 271 230 388 144 245
 382 304 196  11 117   4 119 167 328 417  32 223 318 434  43 314 205 377
 340 204 325 198 149 113   1   1 110 257 220 284 194   8  74  46  83  93
 441  66  13  28   9  26 112 109  85  73  42 226 330 429 294 185 321 171
 277 164 108 140 229 173   1  79  54 148 278 207 337   1   1  34  69  65
  67 157 104 134 227  36 209 333 309  35   7 137  87 202 442 332 370  62
  77   1 132  51 201 200 162 214 199 335  39 366 298  63 369 346 313 287
 126 380 310 212 142  59 387 255 301  98 439  49  92 231 106  44 116  86
  41 308   1  17  94 279   2 206 153 165 270 312 276 216 404   1 213  12
 326 263 248   1 189  82  56  38   1  78  89 334 283 252 282 187   1 127
 138 193  19 183  14 170 256 403 267 351 320 379 341 430 329 319 299 147
 177 161 355 331 292 371 363 238 215 269 236 389 240 394 440 302 233 402
  22 400 168 352 427 415 413 420 433 437  64  20 237 343 315 261 224 285
 120 408 395 375 156 111 306 383 307 348 435  27 234 347  72 339 317 428
  91 166 154 405 176 357 365 133  52 222 390 264 419 378 316 374 300 401
 197 295 443 129 100 244  80  68  75  37 381  76 324 195 260 274  50   1
  16 159  88 121 362 163 338 192 208 254 146 242 218   1 414 190 290 344
 182 211 235 384 342 272  99  90 293 423 396 251 397 368 151 286 411 431
 228 438  15  61 280 360 373 186 406 268 249 426 354 273 367 123 105 418
 386 143 297 349 210  10   1 258 179 239  53 422 311 221 305 398 327 410
 409 432 180 372 323 265 246  95  58 336 247 322]

In [48]:
# train the model
classifier.fit(X_train, y_train)

LogisticRegression()

In [49]:
# predict the model
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

       Prediction  Actual
18194           0       0
2967            0       0
2969            0       0
3067            1       1
18228           0       0
...           ...     ...
32385           0       0
18285           0       0
18264           0       0
16645           0       0
2912            0       0

[66 rows x 2 columns]

In [50]:
# Measure Model Performance
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9393939393939394

In [14]:

# logit_model=sm.Logit(y,X)
# result=logit_model.fit()
# y_pred = classifier.predict(X_test)
# print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

In [1]:
# plt.scatter(X_test, y_test, marker="o", c="r")
# X_test["hotel_City Hotel"].describe
# X_test.nunique
# pd.unique(X_test["country_AUS"])
# plt.bar(X_test["country_AUS"], y_test)
# plt.plot(X_test["country_AUS"], y_test, marker="o", c="r")