### In Progress

# Preprocessing

In [1]:
# Import our dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, OrdinalEncoder
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

import pandas as pd
import tensorflow as tf
import pandas as pd

In [2]:
# Import and read the cleaned data 
hotel_df=pd.read_csv("../hotel_reservations.csv")
print(hotel_df.shape)

print(hotel_df.columns)
hotel_df.head()

(119390, 32)
Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
# Determine information in each column.
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
# Determine if we have duplication in the dataset
print(hotel_df.duplicated().sum())

# Eliminate duplication in the dataset
hotel_df1=hotel_df.drop_duplicates()
print(hotel_df1.shape)

31994
(87396, 32)

In [5]:
# Determine missing values
null_values=hotel_df1.isnull().sum()
print(null_values)

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [6]:
# Drop agent and company columns 
hotel_df1_clean=hotel_df1.drop(["company","agent"],axis=1)

# Drop the null rows
hotel_df1_clean=hotel_df1_clean.dropna()

In [7]:
# Drop rows with not sufficinet information (Adult=0 and children=0)
hotel_df1_clean=hotel_df1_clean.drop(hotel_df1_clean[(hotel_df1_clean.adults==0) & (hotel_df1_clean.children==0)].index)
hotel_df1_clean.shape

(86779, 30)

In [8]:
# Split reservation_status_date to day, month and year
hotel_df1_clean[["year", "month", "day"]] = hotel_df1_clean["reservation_status_date"].str.split("-", expand = True)
hotel_df1_clean=hotel_df1_clean.drop(["reservation_status_date"],axis=1)
hotel_df1_clean.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,year,month,day
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,07,01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,07,01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,07,02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,07,02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,0,Transient,98.0,0,1,Check-Out,2015,07,03

In [9]:
# Separate the categorical variables from others
hotel_df1_category=hotel_df1_clean.dtypes[hotel_df1_clean.dtypes=='object'].index.tolist()
#hotel_df1_clean_cat=[c for c in hotel_df1_clean.columns if hotel_df1_clean[c].dtype=='object']

hotel_df1_other=hotel_df1_clean.dtypes[hotel_df1_clean.dtypes!='object'].index.tolist()
#hotel_df1_clean_other=[n for n in hotel_df1_clean.columns if n not in hotel_df1_clean_cat]

print(f"Categorical variables:\n{hotel_df1_category}")
print("----------------------------------------------------------------------")
print(f"Other variables:\n{hotel_df1_other}")

Categorical variables:
['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status', 'year', 'month', 'day']
----------------------------------------------------------------------
Other variables:
['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']

In [10]:
# Replace null values by undefined in categorical variables and by zero in other variables
hotel_df1_clean[hotel_df1_category].fillna("Undefined", inplace = True)
hotel_df1_clean[hotel_df1_other].fillna(0, inplace = True)

/Users/elnazpouranbarani/.local/lib/python3.7/site-packages/pandas/core/frame.py:5177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

## Feature Selection

In [11]:
# In Progress

In [13]:
# Determine the number of unique values in categorical columns.
print(hotel_df1_clean[hotel_df1_category].nunique())

hotel                     2
arrival_date_month       12
meal                      5
country                 177
market_segment            7
distribution_channel      5
reserved_room_type        9
assigned_room_type       11
deposit_type              3
customer_type             4
reservation_status        3
year                      4
month                    12
day                      31
dtype: int64

In [14]:
# Determine the number of unique values in other columns.
print(hotel_df1_clean[hotel_df1_other].nunique())

is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             15
stays_in_week_nights                31
adults                              14
children                             5
babies                               5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
booking_changes                     19
days_in_waiting_list               127
adr                               8857
required_car_parking_spaces          5
total_of_special_requests            6
dtype: int64

In [15]:
# # Create a OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit and transform the OneHotEncoder using the categorical variable list
# encode_df=pd.DataFrame(enc.fit_transform(hotel_df1_clean[hotel_df1_category]))

# # Add the encoded variable names to the dataframe
# encode_df.columns = enc.get_feature_names(hotel_df1_category)
# encode_df.head()

# Create a OrdinalEncoder instance
oe = OrdinalEncoder()

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(oe.fit_transform(hotel_df1_clean[hotel_df1_category]))
                      
# Add the encoded variable names to the dataframe
encode_df.columns=hotel_df1_category
encode_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,year,month,day
0,1.0,5.0,0.0,135.0,3.0,1.0,2.0,2.0,0.0,2.0,1.0,1.0,6.0,0.0
1,1.0,5.0,0.0,135.0,3.0,1.0,2.0,2.0,0.0,2.0,1.0,1.0,6.0,0.0
2,1.0,5.0,0.0,59.0,3.0,1.0,0.0,2.0,0.0,2.0,1.0,1.0,6.0,1.0
3,1.0,5.0,0.0,59.0,2.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,1.0
4,1.0,5.0,0.0,59.0,6.0,3.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,2.0

In [16]:
# # Merge encoded features and drop the originals
# hotel_df_merge=hotel_df1_clean.merge(encode_df,left_index=True,right_index=True)
# hotel_df_merge=hotel_df_merge.drop(hotel_df1_category,1)

hotel_df_merge=hotel_df1_clean[hotel_df1_other].merge(encode_df,left_index=True,right_index=True)
hotel_df_merge.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,year,month,day
0,0,342,2015,27,1,0,0,2,0.0,0,...,3.0,1.0,2.0,2.0,0.0,2.0,1.0,1.0,6.0,0.0
1,0,737,2015,27,1,0,0,2,0.0,0,...,3.0,1.0,2.0,2.0,0.0,2.0,1.0,1.0,6.0,0.0
2,0,7,2015,27,1,0,1,1,0.0,0,...,3.0,1.0,0.0,2.0,0.0,2.0,1.0,1.0,6.0,1.0
3,0,13,2015,27,1,0,1,1,0.0,0,...,2.0,0.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,1.0
4,0,14,2015,27,1,0,2,2,0.0,0,...,6.0,3.0,0.0,0.0,0.0,2.0,1.0,1.0,6.0,2.0

In [17]:
# Split data into train and test
y=hotel_df_merge['is_canceled'].values
X=hotel_df_merge.drop(['is_canceled'],1).values

/Users/elnazpouranbarani/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
# Split the data into a training and testing dataset
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=78)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
print(X_train_scaled.shape)
print(X_test_scaled.shape)

(44772, 31)
(14925, 31)

## Neural Network Model

In [21]:
# Cross Validation 
def model_structure():
    
    nn = tf.keras.models.Sequential()

    number_input_features=len(X_train[0])
    hidden_nodes_layer1 =  100
    hidden_nodes_layer2 = 50
    # hidden_nodes_layer3 = 20


    # First hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
                             input_dim=number_input_features,
                             activation='relu'))

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,
                             activation='relu'))

    # Third hidden layer
    # nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,
    #                          activation='relu'))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    # Check the structure of the model
    return nn
    
estimator = KerasClassifier(build_fn=model_structure, nb_epoch=100, batch_size=100, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X_train_scaled , y_train, cv=kfold)
print(f"Mean: {results.mean()}, STD: {results.std()}")

Mean: 0.9102788150310517, STD: 0.003484062227152675

In [22]:
# Train the model
model=model_structure()
fit_model=model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2901 - accuracy: 0.8767
Epoch 2/100
1400/1400 [==============================] - 1s 955us/step - loss: 0.1645 - accuracy: 0.9324
Epoch 3/100
1400/1400 [==============================] - 1s 974us/step - loss: 0.1446 - accuracy: 0.9379
Epoch 4/100
1400/1400 [==============================] - 1s 948us/step - loss: 0.1357 - accuracy: 0.9422
Epoch 5/100
1400/1400 [==============================] - 1s 952us/step - loss: 0.1287 - accuracy: 0.9439
Epoch 6/100
1400/1400 [==============================] - 1s 954us/step - loss: 0.1246 - accuracy: 0.9449
Epoch 7/100
1400/1400 [==============================] - 1s 954us/step - loss: 0.1209 - accuracy: 0.9475
Epoch 8/100
1400/1400 [==============================] - 1s 985us/step - loss: 0.1178 - accuracy: 0.9484
Epoch 9/100
1400/1400 [==============================] - 1s 959us/step - loss: 0.1160 - accuracy: 0.9494
Epoch 10/100
1400/1400 [==============================] - 1s 961us/step - loss: 0.1127 - accuracy: 0.9520
Epoch 11/100
1400/1400 [==============================] - 1s 975us/step - loss: 0.1105 - accuracy: 0.9516
Epoch 12/100
1400/1400 [==============================] - 1s 956us/step - loss: 0.1089 - accuracy: 0.9529
Epoch 13/100
1400/1400 [==============================] - 1s 962us/step - loss: 0.1054 - accuracy: 0.9541
Epoch 14/100
1400/1400 [==============================] - 1s 959us/step - loss: 0.1038 - accuracy: 0.9550
Epoch 15/100
1400/1400 [==============================] - 1s 953us/step - loss: 0.1025 - accuracy: 0.9558
Epoch 16/100
1400/1400 [==============================] - 1s 972us/step - loss: 0.1004 - accuracy: 0.95700s
Epoch 17/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0997 - accuracy: 0.9570
Epoch 18/100
1400/1400 [==============================] - 1s 959us/step - loss: 0.0985 - accuracy: 0.9576
Epoch 19/100
1400/1400 [==============================] - 1s 956us/step - loss: 0.0956 - accuracy: 0.9589
Epoch 20/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0941 - accuracy: 0.9599
Epoch 21/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0932 - accuracy: 0.9598
Epoch 22/100
1400/1400 [==============================] - 1s 961us/step - loss: 0.0920 - accuracy: 0.9606
Epoch 23/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0903 - accuracy: 0.9609
Epoch 24/100
1400/1400 [==============================] - 1s 958us/step - loss: 0.0885 - accuracy: 0.9620
Epoch 25/100
1400/1400 [==============================] - 1s 962us/step - loss: 0.0877 - accuracy: 0.9625
Epoch 26/100
1400/1400 [==============================] - 1s 964us/step - loss: 0.0860 - accuracy: 0.9632
Epoch 27/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0846 - accuracy: 0.9643
Epoch 28/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0842 - accuracy: 0.9652
Epoch 29/100
1400/1400 [==============================] - 1s 959us/step - loss: 0.0825 - accuracy: 0.9653
Epoch 30/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0815 - accuracy: 0.9653
Epoch 31/100
1400/1400 [==============================] - 1s 991us/step - loss: 0.0802 - accuracy: 0.9667
Epoch 32/100
1400/1400 [==============================] - 1s 967us/step - loss: 0.0773 - accuracy: 0.9682
Epoch 33/100
1400/1400 [==============================] - 1s 962us/step - loss: 0.0783 - accuracy: 0.9674
Epoch 34/100
1400/1400 [==============================] - 1s 988us/step - loss: 0.0762 - accuracy: 0.96840s - loss: 0.075
Epoch 35/100
1400/1400 [==============================] - 1s 961us/step - loss: 0.0761 - accuracy: 0.9691
Epoch 36/100
1400/1400 [==============================] - 1s 966us/step - loss: 0.0731 - accuracy: 0.9698
Epoch 37/100
1400/1400 [==============================] - 1s 964us/step - loss: 0.0729 - accuracy: 0.9704
Epoch 38/100
1400/1400 [==============================] - 1s 961us/step - loss: 0.0712 - accuracy: 0.9711
Epoch 39/100
1400/1400 [==============================] - 1s 967us/step - loss: 0.0709 - accuracy: 0.9707
Epoch 40/100
1400/1400 [==============================] - 1s 965us/step - loss: 0.0682 - accuracy: 0.9715
Epoch 41/100
1400/1400 [==============================] - 1s 962us/step - loss: 0.0696 - accuracy: 0.9720
Epoch 42/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0674 - accuracy: 0.9729
Epoch 43/100
1400/1400 [==============================] - 1s 964us/step - loss: 0.0661 - accuracy: 0.9730
Epoch 44/100
1400/1400 [==============================] - 1s 964us/step - loss: 0.0660 - accuracy: 0.9729
Epoch 45/100
1400/1400 [==============================] - 1s 968us/step - loss: 0.0628 - accuracy: 0.9752
Epoch 46/100
1400/1400 [==============================] - 1s 954us/step - loss: 0.0625 - accuracy: 0.9740
Epoch 47/100
1400/1400 [==============================] - 1s 966us/step - loss: 0.0632 - accuracy: 0.9741
Epoch 48/100
1400/1400 [==============================] - 1s 969us/step - loss: 0.0617 - accuracy: 0.9752
Epoch 49/100
1400/1400 [==============================] - 1s 960us/step - loss: 0.0599 - accuracy: 0.9760
Epoch 50/100
1400/1400 [==============================] - 1s 964us/step - loss: 0.0591 - accuracy: 0.9761
Epoch 51/100
1400/1400 [==============================] - 1s 963us/step - loss: 0.0580 - accuracy: 0.9767
Epoch 52/100
1400/1400 [==============================] - 1s 972us/step - loss: 0.0563 - accuracy: 0.9772
Epoch 53/100
1400/1400 [==============================] - 1s 966us/step - loss: 0.0577 - accuracy: 0.9760
Epoch 54/100
1400/1400 [==============================] - 1s 972us/step - loss: 0.0567 - accuracy: 0.9772
Epoch 55/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0549 - accuracy: 0.9778
Epoch 56/100
1400/1400 [==============================] - 1s 966us/step - loss: 0.0538 - accuracy: 0.9784
Epoch 57/100
1400/1400 [==============================] - 2s 2ms/step - loss: 0.0532 - accuracy: 0.9790
Epoch 58/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0524 - accuracy: 0.9785
Epoch 59/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0515 - accuracy: 0.9795
Epoch 60/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0518 - accuracy: 0.9787
Epoch 61/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0515 - accuracy: 0.9795
Epoch 62/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0496 - accuracy: 0.9801
Epoch 63/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0495 - accuracy: 0.9799
Epoch 64/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0499 - accuracy: 0.9807
Epoch 65/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0487 - accuracy: 0.9802
Epoch 66/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0468 - accuracy: 0.9815
Epoch 67/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0452 - accuracy: 0.9820
Epoch 68/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0473 - accuracy: 0.9812
Epoch 69/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0450 - accuracy: 0.9815
Epoch 70/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0447 - accuracy: 0.9825
Epoch 71/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0456 - accuracy: 0.9815
Epoch 72/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0458 - accuracy: 0.9820
Epoch 73/100
1400/1400 [==============================] - 2s 1ms/step - loss: 0.0416 - accuracy: 0.9835
Epoch 74/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0440 - accuracy: 0.9831
Epoch 75/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0426 - accuracy: 0.9831
Epoch 76/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0424 - accuracy: 0.9839
Epoch 77/100
1400/1400 [==============================] - 1s 1ms/step - loss: 0.0410 - accuracy: 0.9839
Epoch 78/100
1400/1400 [==============================] - 1s 937us/step - loss: 0.0406 - accuracy: 0.9834
Epoch 79/100
1400/1400 [==============================] - 1s 935us/step - loss: 0.0412 - accuracy: 0.9834
Epoch 80/100
1400/1400 [==============================] - 1s 941us/step - loss: 0.0409 - accuracy: 0.9837
Epoch 81/100
1400/1400 [==============================] - 1s 945us/step - loss: 0.0412 - accuracy: 0.9845
Epoch 82/100
1400/1400 [==============================] - 1s 963us/step - loss: 0.0379 - accuracy: 0.9849
Epoch 83/100
1400/1400 [==============================] - 1s 963us/step - loss: 0.0388 - accuracy: 0.9848
Epoch 84/100
1400/1400 [==============================] - 1s 942us/step - loss: 0.0381 - accuracy: 0.9848
Epoch 85/100
1400/1400 [==============================] - 1s 943us/step - loss: 0.0368 - accuracy: 0.9857
Epoch 86/100
1400/1400 [==============================] - 1s 941us/step - loss: 0.0377 - accuracy: 0.9853
Epoch 87/100
1400/1400 [==============================] - 1s 942us/step - loss: 0.0374 - accuracy: 0.9853
Epoch 88/100
1400/1400 [==============================] - 1s 944us/step - loss: 0.0372 - accuracy: 0.9852
Epoch 89/100
1400/1400 [==============================] - 1s 949us/step - loss: 0.0359 - accuracy: 0.9863
Epoch 90/100
1400/1400 [==============================] - 1s 937us/step - loss: 0.0379 - accuracy: 0.9858
Epoch 91/100
1400/1400 [==============================] - 1s 949us/step - loss: 0.0348 - accuracy: 0.9868
Epoch 92/100
1400/1400 [==============================] - 1s 952us/step - loss: 0.0336 - accuracy: 0.9874
Epoch 93/100
1400/1400 [==============================] - 1s 951us/step - loss: 0.0327 - accuracy: 0.98740s - loss: 0.0310 -
Epoch 94/100
1400/1400 [==============================] - 1s 945us/step - loss: 0.0382 - accuracy: 0.9854
Epoch 95/100
1400/1400 [==============================] - 1s 966us/step - loss: 0.0340 - accuracy: 0.9869
Epoch 96/100
1400/1400 [==============================] - 1s 952us/step - loss: 0.0329 - accuracy: 0.9875
Epoch 97/100
1400/1400 [==============================] - 1s 956us/step - loss: 0.0340 - accuracy: 0.9866
Epoch 98/100
1400/1400 [==============================] - 1s 949us/step - loss: 0.0354 - accuracy: 0.9868
Epoch 99/100
1400/1400 [==============================] - 1s 949us/step - loss: 0.0334 - accuracy: 0.9885
Epoch 100/100
1400/1400 [==============================] - 1s 945us/step - loss: 0.0319 - accuracy: 0.9877

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

467/467 - 0s - loss: 0.3966 - accuracy: 0.9318
Loss: 0.3966061472892761, Accuracy: 0.9317923188209534