### In Progress

# Preprocessing

In [1]:
# Import our dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, OrdinalEncoder
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

import pandas as pd
import tensorflow as tf

In [2]:
# Import and read the cleaned data.
hotel_df=pd.read_csv("../Resources/hotel_reservations.csv")
print(hotel_df.shape)

print(hotel_df.columns)
hotel_df.head()

(119390, 32)
Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
# Determine information in each column.
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
# Determine if we have duplication in the dataset.
print(hotel_df.duplicated().sum())

# Eliminate duplication in the dataset.
hotel_df1=hotel_df.drop_duplicates()
print(hotel_df1.shape)

31994
(87396, 32)

In [5]:
# Determine missing values.
null_values=hotel_df1.isnull().sum()
print(null_values)

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [6]:
# Drop agent and company columns.
hotel_df1_clean=hotel_df1.drop(["company","agent"],axis=1)

# Drop the null rows
hotel_df1_clean=hotel_df1_clean.dropna()

In [8]:
# Drop rows with not sufficinet information (Adult=0 and children=0).
hotel_df1_clean=hotel_df1_clean.drop(hotel_df1_clean[(hotel_df1_clean.adults==0) & (hotel_df1_clean.children==0)].index)
hotel_df1_clean.shape

(86779, 30)

In [9]:
# Split reservation_status_date to day, month and year.
hotel_df1_clean[["year", "month", "day"]] = hotel_df1_clean["reservation_status_date"].str.split("-", expand = True)
hotel_df1_clean=hotel_df1_clean.drop(["reservation_status_date"],axis=1)
hotel_df1_clean.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,year,month,day
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,07,01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,0,Transient,0.0,0,0,Check-Out,2015,07,01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,07,02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,0,Transient,75.0,0,0,Check-Out,2015,07,02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,0,Transient,98.0,0,1,Check-Out,2015,07,03

In [10]:
# Separate the categorical variables from others.
hotel_df1_category=hotel_df1_clean.dtypes[hotel_df1_clean.dtypes=='object'].index.tolist()

hotel_df1_other=hotel_df1_clean.dtypes[hotel_df1_clean.dtypes!='object'].index.tolist()

print(f"Categorical variables:\n{hotel_df1_category}")
print("----------------------------------------------------------------------")
print(f"Other variables:\n{hotel_df1_other}")

Categorical variables:
['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status', 'year', 'month', 'day']
----------------------------------------------------------------------
Other variables:
['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']

In [11]:
# Replace null values by undefined in categorical variables and by zero in other variables.
hotel_df1_clean[hotel_df1_category].fillna("Undefined", inplace = True)
hotel_df1_clean[hotel_df1_other].fillna(0, inplace = True)

/Users/elnazpouranbarani/.local/lib/python3.7/site-packages/pandas/core/frame.py:5177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [12]:
# Determine the number of unique values in categorical columns.
print(hotel_df1_clean[hotel_df1_category].nunique())

hotel                     2
arrival_date_month       12
meal                      5
country                 177
market_segment            7
distribution_channel      5
reserved_room_type        9
assigned_room_type       11
deposit_type              3
customer_type             4
reservation_status        3
year                      4
month                    12
day                      31
dtype: int64

In [13]:
# Determine the number of unique values in other columns.
print(hotel_df1_clean[hotel_df1_other].nunique())

is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             15
stays_in_week_nights                31
adults                              14
children                             5
babies                               5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
booking_changes                     19
days_in_waiting_list               127
adr                               8857
required_car_parking_spaces          5
total_of_special_requests            6
dtype: int64

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df=pd.DataFrame(enc.fit_transform(hotel_df1_clean[hotel_df1_category]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(hotel_df1_category)
encode_df.head()

# # Create a OrdinalEncoder instance
# oe = OrdinalEncoder()

# # Fit and transform the OrdinalEncoder using the categorical variable list
# encode_df=pd.DataFrame(oe.fit_transform(hotel_df1_clean[hotel_df1_category]))
                      
# # Add the encoded variable names to the dataframe
# encode_df.columns=hotel_df1_category
# encode_df.head()

,hotel_City Hotel,hotel_Resort Hotel,arrival_date_month_April,arrival_date_month_August,arrival_date_month_December,arrival_date_month_February,arrival_date_month_January,arrival_date_month_July,arrival_date_month_June,arrival_date_month_March,...,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# # Merge encoded features and drop the originals
# hotel_df_merge=hotel_df1_clean.merge(encode_df,left_index=True,right_index=True)
# hotel_df_merge=hotel_df_merge.drop(hotel_df1_category,1)

hotel_df_merge=hotel_df1_clean[hotel_df1_other].merge(encode_df,left_index=True,right_index=True)
hotel_df_merge.head()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31
0,0,342,2015,27,1,0,0,2,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,737,2015,27,1,0,0,2,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,7,2015,27,1,0,1,1,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,13,2015,27,1,0,1,1,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,14,2015,27,1,0,2,2,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.preprocessing import MinMaxScaler
X_num=hotel_df1_clean[hotel_df1_other].values

# define min max scaler
scaler = MinMaxScaler()
# transform data
scaled = scaler.fit_transform(X_num)
X_scaled_num=pd.DataFrame(scaled)

horel_df_merge=X_scaled_num.merge(encode_df,left_index=True,right_index=True)
horel_df_merge

,0,1,2,3,4,5,6,7,8,9,...,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31
0,0.0,0.464043,0.0,0.500000,0.000000,0.000,0.000,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.000000,0.0,0.500000,0.000000,0.000,0.000,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.009498,0.0,0.500000,0.000000,0.000,0.025,0.018182,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.017639,0.0,0.500000,0.000000,0.000,0.025,0.018182,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.018996,0.0,0.500000,0.000000,0.000,0.050,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86774,0.0,0.031208,1.0,0.653846,0.966667,0.125,0.125,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86775,0.0,0.138399,1.0,0.653846,1.000000,0.125,0.125,0.054545,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86776,0.0,0.046133,1.0,0.653846,1.000000,0.125,0.125,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86777,0.0,0.147897,1.0,0.653846,1.000000,0.125,0.125,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86778,0.0,0.278155,1.0,0.653846,0.933333,0.125,0.175,0.036364,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Split data into train and test
y=hotel_df_merge['is_canceled'].values
X=hotel_df_merge.drop(['is_canceled'],1).values

/Users/elnazpouranbarani/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
# from sklearn.ensemble import GradientBoostingClassifier
# # # report which features were selected by RFE
# # from sklearn.datasets import make_classification
# from sklearn.feature_selection import RFE
# from sklearn.tree import DecisionTreeClassifier
# rfe = RFE(estimator=GradientBoostingClassifier(), n_features_to_select=26)
# # # fit RFE
# rfe.fit(X, y)

# ind=[]
# for i in range(X.shape[1]):
#     if rfe.support_[i]==True:
#         ind.append(i)
#     print('Column: %d, Selected %s, Rank: %.3f' % (i, rfe.support_[i], rfe.ranking_[i]))
# hotel_df_merge_new=hotel_df_merge.iloc[:,ind]
# X_new=hotel_df_merge_new.drop(['is_canceled'],1).values

In [19]:
# # Split the data into a training and testing dataset
# #X_train, X_test, y_train, y_test=train_test_split(X_new,y,random_state=78)
X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=78,)

In [21]:
# print(X_train.shape)
# print(X_test.shape)

## Neural Network Model

In [22]:
# Cross Validation 
def model_structure():
    
    nn = tf.keras.models.Sequential()

    number_input_features=len(X_train[0])
    hidden_nodes_layer1 =  100
    hidden_nodes_layer2 = 60
    hidden_nodes_layer3 = 35


    # First hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
                             input_dim=number_input_features,
                             activation='relu'))

    # Second hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2,
                             activation='relu'))

    # Third hidden layer
    nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,
                                  activation='relu'))
    
    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    # Check the structure of the model
    return nn
    
# estimator = KerasClassifier(build_fn=model_structure, nb_epoch=100, batch_size=100, verbose=0)
# kfold = KFold(n_splits=10)
# results = cross_val_score(estimator, X_train_scaled , y_train, cv=kfold)
# print(f"Mean: {results.mean()}, STD: {results.std()}")

In [24]:
model=model_structure()
fit_model=model.fit(X_train,y_train,validation_data = (X_test, y_test),epochs=200)

Epoch 1/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.9462 - accuracy: 0.6478 - val_loss: 1.8513 - val_accuracy: 0.4267
Epoch 2/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.6434 - accuracy: 0.7059 - val_loss: 1.1852 - val_accuracy: 0.6031
Epoch 3/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.5566 - accuracy: 0.7346 - val_loss: 0.5543 - val_accuracy: 0.7270
Epoch 4/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.5255 - accuracy: 0.7482 - val_loss: 0.4881 - val_accuracy: 0.7684
Epoch 5/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.5006 - accuracy: 0.7595 - val_loss: 0.4537 - val_accuracy: 0.7928
Epoch 6/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4843 - accuracy: 0.7668 - val_loss: 0.4357 - val_accuracy: 0.7997
Epoch 7/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4608 - accuracy: 0.7785 - val_loss: 0.4255 - val_accuracy: 0.8027
Epoch 8/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4482 - accuracy: 0.7860 - val_loss: 0.4518 - val_accuracy: 0.7883
Epoch 9/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4328 - accuracy: 0.7978 - val_loss: 0.4289 - val_accuracy: 0.8057
Epoch 10/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4259 - accuracy: 0.8001 - val_loss: 0.4218 - val_accuracy: 0.8107
Epoch 11/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.4012 - accuracy: 0.8149 - val_loss: 0.4024 - val_accuracy: 0.8186
Epoch 12/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.3874 - accuracy: 0.8217 - val_loss: 0.3956 - val_accuracy: 0.8239
Epoch 13/200
1400/1400 [==============================] - 3s 2ms/step - loss: 0.3523 - accuracy: 0.8409 - val_loss: 0.3984 - val_accuracy: 0.8230
Epoch 14/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.3308 - accuracy: 0.8571 - val_loss: 0.2878 - val_accuracy: 0.8838
Epoch 15/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.3016 - accuracy: 0.8711 - val_loss: 0.2816 - val_accuracy: 0.8849
Epoch 16/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2822 - accuracy: 0.8794 - val_loss: 0.2545 - val_accuracy: 0.8960
Epoch 17/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2713 - accuracy: 0.8835 - val_loss: 0.2465 - val_accuracy: 0.8970
Epoch 18/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2558 - accuracy: 0.8905 - val_loss: 0.3117 - val_accuracy: 0.8645
Epoch 19/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2574 - accuracy: 0.8881 - val_loss: 0.2533 - val_accuracy: 0.8942
Epoch 20/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2422 - accuracy: 0.8962 - val_loss: 0.2963 - val_accuracy: 0.8796
Epoch 21/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2401 - accuracy: 0.8972 - val_loss: 0.2382 - val_accuracy: 0.9032
Epoch 22/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.2347 - accuracy: 0.9000 - val_loss: 0.2409 - val_accuracy: 0.8976
Epoch 23/200
1400/1400 [==============================] - 4s 3ms/step - loss: 0.2272 - accuracy: 0.9032 - val_loss: 0.2157 - val_accuracy: 0.9110
Epoch 24/200
1400/1400 [==============================] - 3s 2ms/step - loss: 0.2267 - accuracy: 0.9035 - val_loss: 0.2385 - val_accuracy: 0.8944
Epoch 25/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2238 - accuracy: 0.9037 - val_loss: 0.2184 - val_accuracy: 0.9091
Epoch 26/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2182 - accuracy: 0.9070 - val_loss: 0.2124 - val_accuracy: 0.9130
Epoch 27/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2082 - accuracy: 0.9120 - val_loss: 0.2361 - val_accuracy: 0.8990
Epoch 28/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2074 - accuracy: 0.9114 - val_loss: 0.1934 - val_accuracy: 0.9186
Epoch 29/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.2014 - accuracy: 0.9127 - val_loss: 0.2496 - val_accuracy: 0.8998
Epoch 30/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1992 - accuracy: 0.9155 - val_loss: 0.2191 - val_accuracy: 0.9144
Epoch 31/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1963 - accuracy: 0.9173 - val_loss: 0.1964 - val_accuracy: 0.9214
Epoch 32/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1904 - accuracy: 0.9197 - val_loss: 0.1870 - val_accuracy: 0.9251
Epoch 33/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1926 - accuracy: 0.9176 - val_loss: 0.2359 - val_accuracy: 0.9070
Epoch 34/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1864 - accuracy: 0.9205 - val_loss: 0.1861 - val_accuracy: 0.9237
Epoch 35/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1867 - accuracy: 0.9206 - val_loss: 0.1812 - val_accuracy: 0.9256
Epoch 36/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1849 - accuracy: 0.9218 - val_loss: 0.1839 - val_accuracy: 0.9256
Epoch 37/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1807 - accuracy: 0.9235 - val_loss: 0.2111 - val_accuracy: 0.9160
Epoch 38/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1780 - accuracy: 0.9251 - val_loss: 0.1999 - val_accuracy: 0.9202
Epoch 39/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1794 - accuracy: 0.9241 - val_loss: 0.1840 - val_accuracy: 0.9242
Epoch 40/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1743 - accuracy: 0.9265 - val_loss: 0.1808 - val_accuracy: 0.9266
Epoch 41/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1727 - accuracy: 0.9257 - val_loss: 0.1738 - val_accuracy: 0.9285
Epoch 42/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1718 - accuracy: 0.9281 - val_loss: 0.1862 - val_accuracy: 0.9250
Epoch 43/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1704 - accuracy: 0.9279 - val_loss: 0.1887 - val_accuracy: 0.9260
Epoch 44/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1708 - accuracy: 0.9276 - val_loss: 0.1866 - val_accuracy: 0.9285
Epoch 45/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1677 - accuracy: 0.9286 - val_loss: 0.1787 - val_accuracy: 0.9320
Epoch 46/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1661 - accuracy: 0.9296 - val_loss: 0.1955 - val_accuracy: 0.9250
Epoch 47/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1675 - accuracy: 0.9293 - val_loss: 0.1833 - val_accuracy: 0.9250
Epoch 48/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1673 - accuracy: 0.9298 - val_loss: 0.1733 - val_accuracy: 0.9309
Epoch 49/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1615 - accuracy: 0.9324 - val_loss: 0.1774 - val_accuracy: 0.9296
Epoch 50/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1621 - accuracy: 0.9304 - val_loss: 0.1968 - val_accuracy: 0.9219
Epoch 51/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1631 - accuracy: 0.9306 - val_loss: 0.1727 - val_accuracy: 0.9333
Epoch 52/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1634 - accuracy: 0.9308 - val_loss: 0.1682 - val_accuracy: 0.9323
Epoch 53/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1585 - accuracy: 0.9320 - val_loss: 0.1681 - val_accuracy: 0.9323
Epoch 54/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1567 - accuracy: 0.9336 - val_loss: 0.1638 - val_accuracy: 0.9325
Epoch 55/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1591 - accuracy: 0.9313 - val_loss: 0.1734 - val_accuracy: 0.9290
Epoch 56/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1785 - accuracy: 0.9246 - val_loss: 0.1699 - val_accuracy: 0.9305
Epoch 57/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1566 - accuracy: 0.9342 - val_loss: 0.1568 - val_accuracy: 0.9343
Epoch 58/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1540 - accuracy: 0.9342 - val_loss: 0.1618 - val_accuracy: 0.9353
Epoch 59/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1529 - accuracy: 0.9342 - val_loss: 0.1623 - val_accuracy: 0.9298
Epoch 60/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1533 - accuracy: 0.9354 - val_loss: 0.3120 - val_accuracy: 0.8790
Epoch 61/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1531 - accuracy: 0.9350 - val_loss: 0.1737 - val_accuracy: 0.9311
Epoch 62/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1514 - accuracy: 0.9364 - val_loss: 0.1681 - val_accuracy: 0.9330
Epoch 63/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1549 - accuracy: 0.9346 - val_loss: 0.1656 - val_accuracy: 0.9305
Epoch 64/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1504 - accuracy: 0.9363 - val_loss: 0.1683 - val_accuracy: 0.9307
Epoch 65/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1509 - accuracy: 0.9359 - val_loss: 0.1716 - val_accuracy: 0.9337
Epoch 66/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1513 - accuracy: 0.9352 - val_loss: 0.1922 - val_accuracy: 0.9191
Epoch 67/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1493 - accuracy: 0.9363 - val_loss: 0.1707 - val_accuracy: 0.9301
Epoch 68/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1485 - accuracy: 0.9372 - val_loss: 0.1727 - val_accuracy: 0.9319
Epoch 69/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1471 - accuracy: 0.9368 - val_loss: 0.1724 - val_accuracy: 0.9297
Epoch 70/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1497 - accuracy: 0.9359 - val_loss: 0.1590 - val_accuracy: 0.9339
Epoch 71/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1449 - accuracy: 0.9382 - val_loss: 0.1737 - val_accuracy: 0.9293
Epoch 72/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1449 - accuracy: 0.9374 - val_loss: 0.1521 - val_accuracy: 0.9382
Epoch 73/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1468 - accuracy: 0.9379 - val_loss: 0.2392 - val_accuracy: 0.9086
Epoch 74/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1478 - accuracy: 0.9366 - val_loss: 0.2086 - val_accuracy: 0.9170
Epoch 75/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1456 - accuracy: 0.9377 - val_loss: 0.1707 - val_accuracy: 0.9303
Epoch 76/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1440 - accuracy: 0.9382 - val_loss: 0.1748 - val_accuracy: 0.9303
Epoch 77/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1442 - accuracy: 0.9380 - val_loss: 0.1810 - val_accuracy: 0.9278
Epoch 78/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1424 - accuracy: 0.9380 - val_loss: 0.1925 - val_accuracy: 0.9225
Epoch 79/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1430 - accuracy: 0.9390 - val_loss: 0.1890 - val_accuracy: 0.9270
Epoch 80/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1412 - accuracy: 0.9401 - val_loss: 0.1500 - val_accuracy: 0.9384
Epoch 81/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1419 - accuracy: 0.9391 - val_loss: 0.1601 - val_accuracy: 0.9343
Epoch 82/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1413 - accuracy: 0.9401 - val_loss: 0.1666 - val_accuracy: 0.9349
Epoch 83/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1420 - accuracy: 0.9399 - val_loss: 0.1597 - val_accuracy: 0.9368
Epoch 84/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1415 - accuracy: 0.9395 - val_loss: 0.1613 - val_accuracy: 0.9328
Epoch 85/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1408 - accuracy: 0.9403 - val_loss: 0.1482 - val_accuracy: 0.9386
Epoch 86/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1379 - accuracy: 0.9406 - val_loss: 0.1608 - val_accuracy: 0.9342
Epoch 87/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1393 - accuracy: 0.9408 - val_loss: 0.1518 - val_accuracy: 0.9382
Epoch 88/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1400 - accuracy: 0.9400 - val_loss: 0.1605 - val_accuracy: 0.9355
Epoch 89/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1391 - accuracy: 0.9396 - val_loss: 0.1672 - val_accuracy: 0.9347
Epoch 90/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1363 - accuracy: 0.9418 - val_loss: 0.1605 - val_accuracy: 0.9353 loss: 0
Epoch 91/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1388 - accuracy: 0.9392 - val_loss: 0.1673 - val_accuracy: 0.9327
Epoch 92/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1361 - accuracy: 0.9424 - val_loss: 0.1488 - val_accuracy: 0.9390
Epoch 93/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1379 - accuracy: 0.9408 - val_loss: 0.1590 - val_accuracy: 0.9353
Epoch 94/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1378 - accuracy: 0.9406 - val_loss: 0.1546 - val_accuracy: 0.9319
Epoch 95/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1378 - accuracy: 0.9409 - val_loss: 0.1505 - val_accuracy: 0.9392
Epoch 96/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1356 - accuracy: 0.9417 - val_loss: 0.1513 - val_accuracy: 0.9381
Epoch 97/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1370 - accuracy: 0.9409 - val_loss: 0.1603 - val_accuracy: 0.9293
Epoch 98/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1359 - accuracy: 0.9409 - val_loss: 0.1472 - val_accuracy: 0.9393
Epoch 99/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1357 - accuracy: 0.9420 - val_loss: 0.1648 - val_accuracy: 0.9335
Epoch 100/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1336 - accuracy: 0.9418 - val_loss: 0.1578 - val_accuracy: 0.9380
Epoch 101/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1362 - accuracy: 0.9417 - val_loss: 0.1536 - val_accuracy: 0.9382
Epoch 102/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1339 - accuracy: 0.9416 - val_loss: 0.1744 - val_accuracy: 0.9365
Epoch 103/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1359 - accuracy: 0.9426 - val_loss: 0.1660 - val_accuracy: 0.9358
Epoch 104/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1326 - accuracy: 0.9425 - val_loss: 0.1518 - val_accuracy: 0.9370
Epoch 105/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1342 - accuracy: 0.9424 - val_loss: 0.1581 - val_accuracy: 0.9354
Epoch 106/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1330 - accuracy: 0.9427 - val_loss: 0.1477 - val_accuracy: 0.9387
Epoch 107/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1337 - accuracy: 0.9427 - val_loss: 0.1596 - val_accuracy: 0.9346
Epoch 108/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1345 - accuracy: 0.9428 - val_loss: 0.1639 - val_accuracy: 0.9353
Epoch 109/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1315 - accuracy: 0.9440 - val_loss: 0.1621 - val_accuracy: 0.9366
Epoch 110/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1317 - accuracy: 0.9432 - val_loss: 0.1743 - val_accuracy: 0.9303
Epoch 111/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1325 - accuracy: 0.9435 - val_loss: 0.1825 - val_accuracy: 0.9262
Epoch 112/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1311 - accuracy: 0.9428 - val_loss: 0.1455 - val_accuracy: 0.9400
Epoch 113/200

1400/1400 [==============================] - 2s 1ms/step - loss: 0.1332 - accuracy: 0.9421 - val_loss: 0.1457 - val_accuracy: 0.9378
Epoch 114/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1344 - accuracy: 0.9418 - val_loss: 0.1508 - val_accuracy: 0.9361
Epoch 115/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1291 - accuracy: 0.9435 - val_loss: 0.1548 - val_accuracy: 0.9368
Epoch 116/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1322 - accuracy: 0.9427 - val_loss: 0.1472 - val_accuracy: 0.9378
Epoch 117/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1295 - accuracy: 0.9441 - val_loss: 0.1540 - val_accuracy: 0.9380
Epoch 118/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1293 - accuracy: 0.9435 - val_loss: 0.1508 - val_accuracy: 0.9373
Epoch 119/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1304 - accuracy: 0.9438 - val_loss: 0.1552 - val_accuracy: 0.9378
Epoch 120/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1284 - accuracy: 0.9437 - val_loss: 0.1752 - val_accuracy: 0.9280
Epoch 121/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1299 - accuracy: 0.9431 - val_loss: 0.1496 - val_accuracy: 0.9410
Epoch 122/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1274 - accuracy: 0.9443 - val_loss: 0.1488 - val_accuracy: 0.9378
Epoch 123/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1275 - accuracy: 0.9450 - val_loss: 0.1493 - val_accuracy: 0.9402
Epoch 124/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1290 - accuracy: 0.9449 - val_loss: 0.1578 - val_accuracy: 0.9386
Epoch 125/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1281 - accuracy: 0.9449 - val_loss: 0.1818 - val_accuracy: 0.9261
Epoch 126/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1304 - accuracy: 0.9433 - val_loss: 0.1571 - val_accuracy: 0.9360
Epoch 127/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1254 - accuracy: 0.9451 - val_loss: 0.1559 - val_accuracy: 0.9346
Epoch 128/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1269 - accuracy: 0.9447 - val_loss: 0.1412 - val_accuracy: 0.9412
Epoch 129/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1264 - accuracy: 0.9456 - val_loss: 0.1520 - val_accuracy: 0.9377
Epoch 130/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1280 - accuracy: 0.9435 - val_loss: 0.1518 - val_accuracy: 0.9381
Epoch 131/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1280 - accuracy: 0.9450 - val_loss: 0.1662 - val_accuracy: 0.9343
Epoch 132/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1286 - accuracy: 0.9448 - val_loss: 0.1548 - val_accuracy: 0.9380
Epoch 133/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1279 - accuracy: 0.9446 - val_loss: 0.1680 - val_accuracy: 0.9355
Epoch 134/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1266 - accuracy: 0.9454 - val_loss: 0.1466 - val_accuracy: 0.9408
Epoch 135/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1274 - accuracy: 0.9445 - val_loss: 0.1742 - val_accuracy: 0.9345
Epoch 136/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1267 - accuracy: 0.9442 - val_loss: 0.1514 - val_accuracy: 0.9397
Epoch 137/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1261 - accuracy: 0.9455 - val_loss: 0.1544 - val_accuracy: 0.9376
Epoch 138/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1265 - accuracy: 0.9459 - val_loss: 0.1498 - val_accuracy: 0.9392
Epoch 139/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1297 - accuracy: 0.9431 - val_loss: 0.1589 - val_accuracy: 0.9360
Epoch 140/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1245 - accuracy: 0.9460 - val_loss: 0.1539 - val_accuracy: 0.9367
Epoch 141/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1250 - accuracy: 0.9466 - val_loss: 0.1552 - val_accuracy: 0.9391
Epoch 142/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1273 - accuracy: 0.9449 - val_loss: 0.1685 - val_accuracy: 0.9345
Epoch 143/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1233 - accuracy: 0.9461 - val_loss: 0.1561 - val_accuracy: 0.9375
Epoch 144/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1263 - accuracy: 0.9454 - val_loss: 0.1568 - val_accuracy: 0.9362
Epoch 145/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1251 - accuracy: 0.9454 - val_loss: 0.1624 - val_accuracy: 0.9368
Epoch 146/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1261 - accuracy: 0.9449 - val_loss: 0.1554 - val_accuracy: 0.9356
Epoch 147/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1221 - accuracy: 0.9469 - val_loss: 0.1516 - val_accuracy: 0.9358
Epoch 148/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1257 - accuracy: 0.9451 - val_loss: 0.1613 - val_accuracy: 0.9338
Epoch 149/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1244 - accuracy: 0.9460 - val_loss: 0.1570 - val_accuracy: 0.9358
Epoch 150/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1257 - accuracy: 0.9451 - val_loss: 0.1509 - val_accuracy: 0.9384
Epoch 151/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1217 - accuracy: 0.9475 - val_loss: 0.1561 - val_accuracy: 0.9359
Epoch 152/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1237 - accuracy: 0.9455 - val_loss: 0.1536 - val_accuracy: 0.9398
Epoch 153/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1232 - accuracy: 0.9463 - val_loss: 0.1628 - val_accuracy: 0.9374
Epoch 154/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1257 - accuracy: 0.9464 - val_loss: 0.1748 - val_accuracy: 0.9295
Epoch 155/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1240 - accuracy: 0.9461 - val_loss: 0.1429 - val_accuracy: 0.9410
Epoch 156/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1216 - accuracy: 0.9469 - val_loss: 0.1584 - val_accuracy: 0.9400
Epoch 157/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1243 - accuracy: 0.9462 - val_loss: 0.2111 - val_accuracy: 0.9154
Epoch 158/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1223 - accuracy: 0.9462 - val_loss: 0.1694 - val_accuracy: 0.9339
Epoch 159/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1239 - accuracy: 0.9449 - val_loss: 0.1536 - val_accuracy: 0.9393
Epoch 160/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1215 - accuracy: 0.9478 - val_loss: 0.1530 - val_accuracy: 0.9405
Epoch 161/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1228 - accuracy: 0.9465 - val_loss: 0.1500 - val_accuracy: 0.9402
Epoch 162/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1227 - accuracy: 0.9459 - val_loss: 0.1558 - val_accuracy: 0.9396
Epoch 163/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1233 - accuracy: 0.9462 - val_loss: 0.1589 - val_accuracy: 0.9354
Epoch 164/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1204 - accuracy: 0.9474 - val_loss: 0.1641 - val_accuracy: 0.9240
Epoch 165/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1227 - accuracy: 0.9461 - val_loss: 0.1466 - val_accuracy: 0.9390
Epoch 166/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1194 - accuracy: 0.9487 - val_loss: 0.1489 - val_accuracy: 0.9389
Epoch 167/200
1400/1400 [==============================] - 3s 2ms/step - loss: 0.1220 - accuracy: 0.9472 - val_loss: 0.1666 - val_accuracy: 0.9370
Epoch 168/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1207 - accuracy: 0.9471 - val_loss: 0.1491 - val_accuracy: 0.9408

Epoch 169/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1223 - accuracy: 0.9473 - val_loss: 0.1477 - val_accuracy: 0.9417
Epoch 170/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1223 - accuracy: 0.9472 - val_loss: 0.1578 - val_accuracy: 0.9388
Epoch 171/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1185 - accuracy: 0.9477 - val_loss: 0.1600 - val_accuracy: 0.9380
Epoch 172/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1212 - accuracy: 0.9473 - val_loss: 0.1659 - val_accuracy: 0.9369
Epoch 173/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1215 - accuracy: 0.9477 - val_loss: 0.1563 - val_accuracy: 0.9392
Epoch 174/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1207 - accuracy: 0.9475 - val_loss: 0.1458 - val_accuracy: 0.9421
Epoch 175/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1198 - accuracy: 0.9476 - val_loss: 0.1558 - val_accuracy: 0.9422
Epoch 176/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1215 - accuracy: 0.9476 - val_loss: 0.1586 - val_accuracy: 0.9385
Epoch 177/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1208 - accuracy: 0.9466 - val_loss: 0.1719 - val_accuracy: 0.9360
Epoch 178/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1196 - accuracy: 0.9468 - val_loss: 0.1741 - val_accuracy: 0.9349
Epoch 179/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1171 - accuracy: 0.9485 - val_loss: 0.1594 - val_accuracy: 0.9363
Epoch 180/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1188 - accuracy: 0.9486 - val_loss: 0.1664 - val_accuracy: 0.9374
Epoch 181/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1198 - accuracy: 0.9489 - val_loss: 0.1563 - val_accuracy: 0.9394
Epoch 182/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1191 - accuracy: 0.9484 - val_loss: 0.1597 - val_accuracy: 0.9383
Epoch 183/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1212 - accuracy: 0.9471 - val_loss: 0.1600 - val_accuracy: 0.9361
Epoch 184/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1182 - accuracy: 0.9488 - val_loss: 0.1499 - val_accuracy: 0.9391
Epoch 185/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1203 - accuracy: 0.9479 - val_loss: 0.1644 - val_accuracy: 0.9362
Epoch 186/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1189 - accuracy: 0.9473 - val_loss: 0.1528 - val_accuracy: 0.9386
Epoch 187/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1194 - accuracy: 0.9480 - val_loss: 0.1559 - val_accuracy: 0.9386
Epoch 188/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1207 - accuracy: 0.9473 - val_loss: 0.1572 - val_accuracy: 0.9388
Epoch 189/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1188 - accuracy: 0.9485 - val_loss: 0.1570 - val_accuracy: 0.9353
Epoch 190/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1182 - accuracy: 0.9485 - val_loss: 0.1545 - val_accuracy: 0.9390
Epoch 191/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1169 - accuracy: 0.9486 - val_loss: 0.1671 - val_accuracy: 0.9363
Epoch 192/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1196 - accuracy: 0.9481 - val_loss: 0.1479 - val_accuracy: 0.9403
Epoch 193/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1170 - accuracy: 0.9492 - val_loss: 0.1614 - val_accuracy: 0.9368
Epoch 194/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1197 - accuracy: 0.9478 - val_loss: 0.1512 - val_accuracy: 0.9411
Epoch 195/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1165 - accuracy: 0.9493 - val_loss: 0.1473 - val_accuracy: 0.9410
Epoch 196/200
1400/1400 [==============================] - 2s 1ms/step - loss: 0.1189 - accuracy: 0.9484 - val_loss: 0.1599 - val_accuracy: 0.9404
Epoch 197/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1205 - accuracy: 0.9486 - val_loss: 0.1630 - val_accuracy: 0.9366
Epoch 198/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1201 - accuracy: 0.9466 - val_loss: 0.1577 - val_accuracy: 0.9378
Epoch 199/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1185 - accuracy: 0.9481 - val_loss: 0.1503 - val_accuracy: 0.9410
Epoch 200/200
1400/1400 [==============================] - 2s 2ms/step - loss: 0.1163 - accuracy: 0.9501 - val_loss: 0.1488 - val_accuracy: 0.9401

In [26]:
#Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

467/467 - 0s - loss: 0.1488 - accuracy: 0.9401
Loss: 0.14876975119113922, Accuracy: 0.9401004910469055